<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/home.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap"
      rel="stylesheet"
    />
    <title>About Us</title>
  </head>
  <body>
    <header class="header">
      <div class="left">
        <a href="/"><img src="static/img/dia img1.png" alt="" /> </a>
      </div>
      <div class="right">
        <ul class="nav">
          <li><a href="/home">Home</a></li>
          <li><a href="/diet">Diet</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
    </header>

    <div class="main2">
      <div class="box1">
        <p id="p1">Welcome to Predict Diabetes.</p>
        <div class="p2">
          Manage your diabetes and take a step to a better life. Diabetes is a
          major cause of death in the world. Early prediction of disease like
          diabetes can be controlled and help save people. The aim of our
          website is to develop a system which can perform early prediction of
          diabetes for a patient with a higher accuracy. To make the task of
          knowing if the user is diabetic or not at the ease of sitting at home.
        </div>
        <div class="img1">
          <img src="static/img/dia img2.png" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
