<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/home.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap"
      rel="stylesheet"
    />
    <title>FAQ</title>
</head>
<body>

    <header class="header">
      <div class="left">
        <a href="/"><img src="static/img/dia img1.png" alt=""> </a>
    </div>
        <div class="right">
          <ul class="nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/faq">FAQ</a></li>
          </ul>
        </div>
      </header>

    <div class="faq">
     
      <div class="box2">
        <div class="question">
          1. What are the symptoms of diabetes? <br><br>
        </div> 
        Being very thirsty <br>
        Urinating often <br>
        Feeling very hungry <br>
        Feeling very tired <br>
        Losing weight without trying <br>
        Sores that heal slowly <br>
        Dry, itchy skin <br>
        Feelings of pins and needles in your feet <br>
        Losing feeling in your feet <br>
        Blurry eyesight <br>
        <br>
        <div class="question">
2. Are the results accurate? <br><br>
        </div> 
        Yes! We have used machine learning algorithms to create a prediction model since ML methods allow computers to learn and gain intelligence from previous experience or a pre-defined dataset and used the one which gives the most accurate result.
        The predictive model can identify and understand the incoming data, allowing it to make more precise decisions. <br><br>
      
        <div class="question">
3. How do we get the result? <br><br>
        </div> 
        The user is required to enter all the values correctly next to every field and press the predict button, the user is then directed to the result page where they can know if they are diabetic or not. <br><br>
      
        <div class="question">
4. What can be done to reduce the risk of diabetes? <br><br>
        </div> 
        Research has shown that the following lifestyle modifications can prevent, or at least delay the onset of type 2 diabetes among people at risk of diabetes: <br>
        Eating fewer high fat and high calorie foods <br>
        Losing at least 5%-7% of body weight (if overweight) <br>
        Being physically active for 150 minutes every week <br>
        <br>
      
        <div class="question">
5. How is diabetes diagnosed?  <br>
        </div> 
      
        <ul>
          <li>
            Blood tests  <br>
        Fasting blood glucose test, hemoglobin A1c test, and oral glucose tolerance test are blood test that can be done to diagnose diabetes.  <br>
          </li>
          <li>
            Screening  <br>
        Screening for type 2 diabetes in people who have no symptoms is recommended for: overweight children who have other risk factors for diabetes (starting at age 10), overweight adults (BMI greater than 25) who have other risk factors, and adults over age 45.  <br>
          </li>
          <li>
            Urine analysis  <br>
        A urine analysis may show high blood sugar. But a urine test alone does not diagnose diabetes. Your health care provider may suspect that you have diabetes if your blood sugar level is higher than 200 mg/dL. To confirm the diagnosis, one or more of the following tests must be done.  <br>
          </li>
        </ul>
      </div>
    </div>
</body>
</html>