<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/main.css" type="text/css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Oswald&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/static/home.css" type="text/css" />
    <title>Predictor</title>
  </head>

  <body>
    <header class="header">
      <div class="left">
        <a href="/"><img src="static/img/dia img1.png" alt="" /> </a>
      </div>
      <div class="right">
        <ul class="nav">
          <li><a href="/home">Home</a></li>
          <li><a href="/diet">Diet</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
    </header>

    <div class="main">
      <div class="mainn">
        <p id="head">Please enter the following info!</p>
        <form method="post" action="predict">
          <table>
            <tr>
              <td>Pregnancies:</td>
              <td class="fg"><input type="text" name="prg" /></td>
            </tr>
            <tr>
              <td>Glucose:</td>
              <td class="fg">
                <input type="text" name="gl" placeholder="mg/dL" />
              </td>
            </tr>
            <tr>
              <td>Blood Pressure:</td>
              <td class="fg">
                <input type="text" name="bp" placeholder="mmHg" />
              </td>
            </tr>
            <tr>
              <td>Skin Thickness:</td>
              <td class="fg">
                <input type="text" name="sk" placeholder="mm" />
              </td>
            </tr>
            <tr>
              <td>Insulin:</td>
              <td class="fg">
                <input type="text" name="ins" placeholder="pmol/L" />
              </td>
            </tr>
            <tr>
              <td>BMI:</td>
              <td class="fg">
                <input type="text" name="BMI" placeholder="kg/m2" />
              </td>
            </tr>
            <tr>
              <td>Diabetes Pedigree function:</td>
              <td class="fg">
                <input type="text" name="ped" placeholder="0-1" />
              </td>
            </tr>
            <tr>
              <td>Age:</td>
              <td class="fg"><input type="text" name="age" /></td>
            </tr>
          </table>
          <button type="submit" class="btn">Predict</button>
        </form>
      </div>
    </div>
  </body>
</html>
